### Soal 1 : Pemain Bola

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data.csv')

df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [4]:
df.shape

(18207, 89)

In [6]:
df.columns

Index(['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special',
       'Preferred Foot', 'International Reputation', 'Weak Foot',
       'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position',
       'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until',
       'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW',
       'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM',
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing',
       'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling',
       'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration',
       'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower',
       'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression',
       'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure',
       'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause'],
      dtype='object')

In [7]:
df[['Age', 'Overall', 'Potential']].isnull().sum()

Age          0
Overall      0
Potential    0
dtype: int64

Kriteria Pengambilan Pemain: 
- Usia (Age) <= 25 tahun,
- Skill umum (Overall) >= 80 point, dan
- Potensi (Potential) >= 80 point.

In [12]:
dfTarget = df[(df['Age'] <=25)&(df['Overall']>=80)&(df['Potential']>=80)]
print(len(dfTarget))
dfTarget.head(10)

174

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
9,9,200389,J. Oblak,25,https://cdn.sofifa.org/players/4/19/200389.png,Slovenia,https://cdn.sofifa.org/flags/44.png,90,93,Atlético Madrid,...,70.0,27.0,12.0,18.0,86.0,92.0,78.0,88.0,89.0,€144.5M
15,15,211110,P. Dybala,24,https://cdn.sofifa.org/players/4/19/211110.png,Argentina,https://cdn.sofifa.org/flags/52.png,89,94,Juventus,...,84.0,23.0,20.0,20.0,5.0,4.0,4.0,5.0,8.0,€153.5M
16,16,202126,H. Kane,24,https://cdn.sofifa.org/players/4/19/202126.png,England,https://cdn.sofifa.org/flags/14.png,89,91,Tottenham Hotspur,...,89.0,56.0,36.0,38.0,8.0,10.0,11.0,14.0,11.0,€160.7M
25,25,231747,K. Mbappé,19,https://cdn.sofifa.org/players/4/19/231747.png,France,https://cdn.sofifa.org/flags/18.png,88,95,Paris Saint-Germain,...,86.0,34.0,34.0,32.0,13.0,5.0,7.0,11.0,6.0,€166.1M
42,42,205600,S. Umtiti,24,https://cdn.sofifa.org/players/4/19/205600.png,France,https://cdn.sofifa.org/flags/18.png,87,92,FC Barcelona,...,82.0,90.0,89.0,86.0,15.0,10.0,14.0,12.0,15.0,€121.1M
43,43,201399,M. Icardi,25,https://cdn.sofifa.org/players/4/19/201399.png,Argentina,https://cdn.sofifa.org/flags/52.png,87,90,Inter,...,85.0,45.0,24.0,20.0,13.0,9.0,5.0,7.0,9.0,€114.5M
45,45,195864,P. Pogba,25,https://cdn.sofifa.org/players/4/19/195864.png,France,https://cdn.sofifa.org/flags/18.png,87,91,Manchester United,...,87.0,66.0,70.0,68.0,5.0,6.0,2.0,4.0,3.0,€123.2M
47,47,192505,R. Lukaku,25,https://cdn.sofifa.org/players/4/19/192505.png,Belgium,https://cdn.sofifa.org/flags/7.png,87,89,Manchester United,...,83.0,30.0,30.0,30.0,8.0,15.0,14.0,7.0,10.0,€120.3M
55,55,222492,L. Sané,22,https://cdn.sofifa.org/players/4/19/222492.png,Germany,https://cdn.sofifa.org/flags/21.png,86,92,Manchester City,...,78.0,36.0,32.0,35.0,8.0,12.0,9.0,9.0,14.0,€125.1M
56,56,218667,Bernardo Silva,23,https://cdn.sofifa.org/players/4/19/218667.png,Portugal,https://cdn.sofifa.org/flags/38.png,86,91,Manchester City,...,85.0,49.0,44.0,35.0,9.0,10.0,14.0,12.0,9.0,€114.5M

Checking accuracy of data

In [18]:
dfTarget[dfTarget['Age']>25]
dfTarget[dfTarget['Potential']<80]
dfTarget[dfTarget['Overall']<80]

Empty DataFrame
Columns: [Unnamed: 0, ID, Name, Age, Photo, Nationality, Flag, Overall, Potential, Club, Club Logo, Value, Wage, Special, Preferred Foot, International Reputation, Weak Foot, Skill Moves, Work Rate, Body Type, Real Face, Position, Jersey Number, Joined, Loaned From, Contract Valid Until, Height, Weight, LS, ST, RS, LW, LF, CF, RF, RW, LAM, CAM, RAM, LM, LCM, CM, RCM, RM, LWB, LDM, CDM, RDM, RWB, LB, LCB, CB, RCB, RB, Crossing, Finishing, HeadingAccuracy, ShortPassing, Volleys, Dribbling, Curve, FKAccuracy, LongPassing, BallControl, Acceleration, SprintSpeed, Agility, Reactions, Balance, ShotPower, Jumping, Stamina, Strength, LongShots, Aggression, Interceptions, Positioning, Vision, Penalties, Composure, Marking, StandingTackle, SlidingTackle, GKDiving, GKHandling, GKKicking, GKPositioning, GKReflexes, Release Clause]
Index: []

[0 rows x 89 columns]

In [22]:
dfReject = df.drop(dfTarget.index, axis=0)
dfReject.head(10)
print(len(dfReject))

18033

In [23]:
len(dfReject) + len(dfTarget)

18207

#### Preparing for Model

In [25]:
df['Recruit'] = df.apply(
lambda i: 1 if (i['Age'] <=25)&(i['Overall']>=80)&(i['Potential']>=80) else 0, axis=1)

In [27]:
df.head()
df[['Age', 'Potential', 'Overall', 'Recruit']]

       Age  Potential  Overall  Recruit
0       31         94       94        0
1       33         94       94        0
2       26         93       92        0
3       27         93       91        0
4       27         92       91        0
5       27         91       91        0
6       32         91       91        0
7       31         91       91        0
8       32         91       91        0
9       25         93       90        1
10      29         90       90        0
11      28         90       90        0
12      32         90       90        0
13      32         90       90        0
14      27         90       89        0
15      24         94       89        1
16      24         91       89        1
17      27         90       89        0
18      26         92       89        0
19      26         90       89        0
20      29         89       89        0
21      31         89       89        0
22      32         89       89        0
23      30         89       89        0
24      33         89       89        0
25      19         95       88        1
26      26         89       88        0
27      26         90       88        0
28      26         89       88        0
29      27         88       88        0
...    ...        ...      ...      ...
18177   18         69       48        0
18178   18         65       48        0
18179   17         64       48        0
18180   22         58       48        0
18181   17         66       48        0
18182   18         65       48        0
18183   44         48       48        0
18184   18         55       48        0
18185   19         59       48        0
18186   20         64       47        0
18187   19         59       47        0
18188   17         62       47        0
18189   18         61       47        0
18190   18         67       47        0
18191   18         65       47        0
18192   18         64       47        0
18193   18         64       47        0
18194   18         65       47        0
18195   18         67       47        0
18196   19         61       47        0
18197   18         61       47        0
18198   18         70       47        0
18199   18         69       47        0
18200   18         62       47        0
18201   18         68       47        0
18202   19         65       47        0
18203   19         63       47        0
18204   16         67       47        0
18205   17         66       47        0
18206   16         66       46        0

[18207 rows x 4 columns]

In [30]:
len(df[df['Recruit'] == 1]) == len(dfTarget)

True

* Splitting

In [49]:
from sklearn.model_selection import train_test_split

X = df[['Age','Overall','Potential']]
Y = df['Recruit']

In [50]:
xtr, xts, ytr, yts = train_test_split(
    X,
    Y,
    test_size = .15
)

In [51]:
print(X.loc[0])

Age          31
Overall      94
Potential    94
Name: 0, dtype: int64

In [52]:
print(len(X))
print(len(Y))
print(len(xtr))
print(len(xts))

18207
18207
15475
2732

#### Fitting Data in Various Models

In [53]:
from sklearn.linear_model import LogisticRegression
modelLR = LogisticRegression(solver='lbfgs', multi_class='auto')
modelLR.fit(xtr, ytr)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='auto',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [54]:
from sklearn import tree
modelDT = tree.DecisionTreeClassifier()
modelDT.fit(xtr, ytr)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [55]:
from sklearn.ensemble import RandomForestClassifier

modelRF = RandomForestClassifier(n_estimators = 2)
modelRF.fit(xtr, ytr)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=2, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

### Cross Validation Score

In [56]:
from sklearn.model_selection import cross_val_score

In [57]:
print('LogReg :', cross_val_score(
    LogisticRegression(solver='lbfgs', multi_class= 'auto'), xtr, ytr, cv=4
))

print('Random Forest :', cross_val_score(
    RandomForestClassifier(n_estimators = 5), xtr, ytr,
    cv=4
))

print('Decision Tree :', cross_val_score(
    tree.DecisionTreeClassifier(), xtr, ytr, cv=4
))

LogReg : [0.99250646 0.99198759 0.99301965 0.99250259]
Random Forest : [1.         0.99974154 1.         1.        ]
Decision Tree : [1. 1. 1. 1.]

--> Akurasi terbaik dimiliki oleh Decision Tree dan Random Forest Models, namun ketiga model memiliki almost perfect accuracy. Mengantisipasi overfitting, diputuskan untuk menggunakan Random Forest

In [58]:
dataPemainBola = {'Andik Vermansyah' : [27, 87, 90],
        'Awan Setho Raharjo' : [22, 75,83],
        'Bambang Pamungkas' : [38, 85, 75], 
        'Cristian Gonzales' : [43, 90, 85],
        'Egy Maulana Vikri' : [18, 88, 90], 
        'Evan Dimas' : [24, 85, 87],
        'Febri Hariyadi' : [23, 77, 80], 
        'Hansamu Yama Pranata' : [24, 82, 85],
        'Septian David Maulana' : [22, 83, 80], 
        'Stefano Lilipaly' : [29, 88, 86]}

In [62]:
for i in dataPemainBola:
    if modelRF.predict([dataPemainBola[i]]) == 0:
        print(f'{i} tidak direkrut. | skor: {dataPemainBola[i]} [Age, Overall, Potential]')
    elif modelRF.predict([dataPemainBola[i]]) == 1:
        print(f'{i} akan direkrut. | skor: {dataPemainBola[i]} [Age, Overall, Potential]')

Andik Vermansyah tidak direkrut. | skor: [27, 87, 90] [Age, Overall, Potential]
Awan Setho Raharjo tidak direkrut. | skor: [22, 75, 83] [Age, Overall, Potential]
Bambang Pamungkas tidak direkrut. | skor: [38, 85, 75] [Age, Overall, Potential]
Cristian Gonzales tidak direkrut. | skor: [43, 90, 85] [Age, Overall, Potential]
Egy Maulana Vikri akan direkrut. | skor: [18, 88, 90] [Age, Overall, Potential]
Evan Dimas tidak direkrut. | skor: [24, 85, 87] [Age, Overall, Potential]
Febri Hariyadi tidak direkrut. | skor: [23, 77, 80] [Age, Overall, Potential]
Hansamu Yama Pranata akan direkrut. | skor: [24, 82, 85] [Age, Overall, Potential]
Septian David Maulana tidak direkrut. | skor: [22, 83, 80] [Age, Overall, Potential]
Stefano Lilipaly tidak direkrut. | skor: [29, 88, 86] [Age, Overall, Potential]